<div>
  <div class="btn-group mx-5" role="group">
    <a routerLink="materials"
       routerLinkActive="sub-nav-link-active"
       class="sub-nav-link">
      Materials
    </a>
    <a routerLink="matl-categories"
       routerLinkActive="sub-nav-link-active"
       class="sub-nav-link">
      Categories
    </a>
    <a routerLink="matl-classifications"
       routerLinkActive="sub-nav-link-active"
       class="sub-nav-link">
      Classifications
    </a>
    <a routerLink="size-variant"
       routerLinkActive="sub-nav-link-active"
       class="sub-nav-link">
      Size variants
    </a>
    <a routerLink="measurement-units"
       routerLinkActive="sub-nav-link-active"
       class="sub-nav-link">
      Measurement units
    </a>
  </div>
  <div class="sub-nav-link-border"></div>
</div>
<router-outlet></router-outlet>
