<div>
  <div class="d-flex align-items-center justify-content-between">
    <div class="d-flex">
      <div class="btn-group mx-5" role="group">
        <a routerLink="prince-materials"
           routerLinkActive="sub-nav-link-active"
           class="sub-nav-link">
          Prince materials
        </a>
        <a routerLink="sponsor-materials"
           routerLinkActive="sub-nav-link-active"
           class="sub-nav-link">
          Sponsor materials
        </a>
        <a routerLink="finish-goods"
           routerLinkActive="sub-nav-link-active"
           class="sub-nav-link">
          Finish goods
        </a>
      </div>
    </div>
    <div class="mx-5">
      <h4 class="m-0">Inventory</h4>
    </div>
  </div>
  <div class="sub-nav-link-border"></div>
</div>

<router-outlet></router-outlet>
