<div>
  <div class="d-flex align-items-center justify-content-between">
    <div class="d-flex">
      <div class="btn-group mx-5" role="group">
        <a routerLink="prince-materials"
           routerLinkActive="sub-nav-link-active"
           class="sub-nav-link">
          Prince materials
        </a>
        <a routerLink="sponsor-materials"
           routerLinkActive="sub-nav-link-active"
           class="sub-nav-link">
          Sponsor materials
        </a>
        <a routerLink="finish-goods"
           routerLinkActive="sub-nav-link-active"
           class="sub-nav-link">
          Finish goods
        </a>
      </div>
      <div class="position-relative ms-3">
        <div class="position-absolute" style="top: -5px;">
          <div class="row g-3 align-items-center"
               *ngIf="blService.siteId === sitesService.localSite">
            <div class="col-auto">
              <input type="text"
                     id="shelf-number"
                     class="form-control"
                     style="width: 25rem;"
                     placeholder="scan for shelf # here"
                     (change)="onShelfNumChange(codeInput)"
                     #codeInput>
              <svg xmlns="http://www.w3.org/2000/svg"
                   width="26" height="26" fill="var(--color-primary)"
                   class="bi bi-camera-fill"
                   viewBox="0 0 16 16"
                   (click)="activateCamera(codeInput)"
                   style="position: absolute; right: 8px; top: 0.39rem; cursor: pointer;">
                <path d="M10.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                <path d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4zm.5 2a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1m9 2.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0"/>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mx-5">
      <h4 class="m-0">Inventory</h4>
    </div>
  </div>
  <div class="sub-nav-link-border"></div>
</div>
<ng-container appModal></ng-container>
<router-outlet></router-outlet>
