<div>
  <div class="d-flex align-items-center justify-content-between">
    <div class="d-flex">
      <div class="btn-group mx-5" role="group">
        <a routerLink="open"
           routerLinkActive="sub-nav-link-active"
           class="sub-nav-link">
          Open
        </a>
        <a routerLink="done"
           routerLinkActive="sub-nav-link-active"
           class="sub-nav-link">
          Done
        </a>
      </div>
      <div [ngStyle]="{width: window.innerWidth > 600 ? '30rem' : 'auto'}" *ngIf="isOpen">
        <div>
          <input type="text"
                 style="padding-bottom: 0.26rem; padding-top: 0.26rem;"
                 class="form-control"
                 placeholder="scan for items here">
        </div>
      </div>
    </div>
    <div class="mx-5">
      <h4 class="m-0">Receiving</h4>
    </div>
  </div>
  <div class="sub-nav-link-border"></div>
</div>

<router-outlet></router-outlet>
