<div>
  <div class="d-flex align-items-center justify-content-between">
    <div class="btn-group mx-5" role="group">
      <a routerLink="open"
         routerLinkActive="sub-nav-link-active"
         class="sub-nav-link">
        Open
      </a>
      <a routerLink="done"
         routerLinkActive="sub-nav-link-active"
         class="sub-nav-link">
        Done
      </a>
    </div>
    <div class="mx-5">
      <h4 class="m-0">Purchase requisitions</h4>
    </div>
  </div>

  <div class="sub-nav-link-border"></div>
</div>
<router-outlet></router-outlet>
