<div #modal>
  <div class="modal fade show d-block">
    <div class="modal-dialog {{modalSize}}">
      <div class="modal-content">
        <form (ngSubmit)="onSuccess()" #f="ngForm" tabindex="0">
          <div class="modal-header" style="background-color: var(--color-primary)">
            <h5 class="modal-title fw-bold"
                style="color: #fff; font-size: 1.4rem;" id="staticBackdropLabel">
              {{title}}
            </h5>
          </div>
          <div class="modal-body p-4">
            <ng-container appBody></ng-container>
          </div>
          <div class="modal-footer">
            <button *ngIf="btnClose"
                    type="button"
                    class="btn btn-secondary"
                    (click)="onClose()">
              {{btnCloseLabel}}
            </button>
            <button *ngIf="btnSuccess"
                    type="submit"
                    class="btn btn-primary"
                    [disabled]="f.invalid">
              {{btnSuccessLabel}}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-backdrop fade show"></div>
</div>
