<div class="trans">
  <div class="row t-mb justify-content-between pb-2 border-bottom border-4">
    <div class="col-md-4 align-self-end">
      <div>
        <div class="fw-bold fs-4">
          Purchase requisition
          <span class="fw-normal">
            {{action === operations.Create ? '(create)' : ''}}
            {{action === operations.View ? '(read only)' : ''}}
            {{action === operations.Edit ? '(edit)' : ''}}
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-4" *ngIf="!isLoading">
      <div class="row justify-content-between align-items-center">
        <div class="col-auto" *ngIf="action === operations.View">
          <div *ngIf="!prService.purchaseReq?.isSubmitted" class="dropdown">
            <button class="btn btn-danger dropdown-toggle w-100 btn-status"
                    type="button" data-bs-toggle="dropdown" aria-expanded="false"
                    style="width: 12rem !important;">
              Not submitted
            </button>
            <ul class="dropdown-menu shadow w-100">
              <li (click)="onPrStatusChange(prStatus.Submitted)">
                <div class="dropdown-item p-3" style="cursor: pointer;">Submitted</div>
              </li>
            </ul>
          </div>

          <div *ngIf="prService.purchaseReq?.isSubmitted" class="dropdown">
            <div *appAuth="AuthPolicy.canUserApprovePr()">
              <div *ngIf="!prService.purchaseReq.purchaseOrder || prService.purchaseReq.purchaseOrder?.disApproveUserId">
                <button class="btn {{prService.purchaseReq && prService.purchaseReq.approveUserId
                          ? 'btn-success'
                          : 'btn-secondary'}} dropdown-toggle btn-status"
                        type="button" data-bs-toggle="dropdown" aria-expanded="false"
                        style="width: 12rem !important;">
                  {{prService.purchaseReq && prService.purchaseReq.approveUserId ? 'Approved' : 'Pending'}}
                </button>
                <ul class="dropdown-menu shadow w-100">
                  <li *ngIf="!prService.purchaseReq?.approveUserId" (click)="onPrStatusChange(prStatus.Approved)">
                    <div class="dropdown-item p-3" style="cursor: pointer;">Approved</div>
                  </li>
                  <li (click)="onPrStatusChange(prStatus.Disapproved)">
                    <div class="dropdown-item p-3" style="cursor: pointer;">Disapproved</div>
                  </li>
                </ul>
              </div>
              <div *ngIf="prService.purchaseReq.purchaseOrder && !prService.purchaseReq.purchaseOrder?.disApproveUserId">
                <button class="btn {{prService.purchaseReq && prService.purchaseReq.approveUserId ? 'btn-success' : 'btn-secondary'}}"
                        style="padding: 0.6rem 1.2rem;"
                        type="button">
                  {{prService.purchaseReq && prService.purchaseReq.approveUserId ? 'Approved' : 'Pending'}}
                </button>
              </div>
            </div>

            <!--users without 'PO Approve' ability.-->
            <div *appAuthReverse="AuthPolicy.canUserApprovePr()">
              <button class="btn {{prService.purchaseReq && prService.purchaseReq.approveUserId ? 'btn-success' : 'btn-secondary'}}"
                      style="padding: 0.6rem 1.2rem;"
                      type="button">
                {{prService.purchaseReq && prService.purchaseReq.approveUserId ? 'Approved' : 'Pending'}}
              </button>
            </div>
          </div>
        </div>
        <div class="col-auto text-end">
          <div *ngIf="action === operations.View"
               class="dropdown"
               style="cursor: pointer;">
            <div data-bs-toggle="dropdown"
                 aria-expanded="false">
              <svg xmlns="http://www.w3.org/2000/svg"
                   width="22" height="22" fill="currentColor"
                   class="bi bi-three-dots-vertical"
                   viewBox="0 0 16 16">
                <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
              </svg>
            </div>
            <ul class="dropdown-menu shadow">
              <li><a class="dropdown-item" href="#" style="pointer-events: none; opacity: 0.5;">Delete</a></li>
              <li><a class="dropdown-item" (click)="onDuplicate()">Duplicate</a></li>
              <li><a class="dropdown-item" href="#" style="pointer-events: none; opacity: 0.5;">Print</a></li>
              <li><a class="dropdown-item" href="#" style="pointer-events: none; opacity: 0.5;">Export PDF</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="isLoading" class="text-center">
    <app-loading-spinner></app-loading-spinner>
  </div>

  <form (ngSubmit)="onSubmit()" #f="ngForm" *ngIf="!isLoading" (keydown.enter)="$event.preventDefault()">
    <ng-content></ng-content>
    <!--<div class="row">
      <div class="col-md-4">
        <div *ngIf="f.touched && f.invalid" class="alert alert-danger" role="alert">
          One or more inputs are incorrect
        </div>
      </div>
    </div>-->
    <div class="row justify-content-between" style="width: 80%;">
      <div class="col-md-3">
        <div class="t-mb">
          <label for="prNumber" class="form-label d-flex justify-content-between">
            <span>Purchase requisition #</span>
            <span class="form-check" *ngIf="action !== operations.Create">
              <input type="checkbox"
                     class="form-check-input"
                     id="inActive"
                     name="inActive"
                     [(ngModel)]="prService.purchaseReq.inActive"
                     [disabled]="controlState">
              <label for="inActive"
                     class="fw-bold {{prService.purchaseReq.inActive ? 'text-danger' : ''}}">
                cancelled
              </label>
            </span>
          </label>
          <div class="form-control d-flex">
            <span *ngIf="action !== operations.Create"
                  style="font-size: 1.4rem; margin-right: 0.3rem;">PR</span>
            <input type="text"
                   style="border: none; outline: none; width: 100%;"
                   id="prNumber"
                   name="prNumber"
                   [placeholder]="action === operations.Create ? '-- new --' : ''"
                   [ngModel]="prService.purchaseReq.prNumber"
                   [readOnly]=true>
          </div>
        </div>
        <div class="t-mb">
          <label for="createDate" class="form-label">Created date</label>
          <input type="date"
                 class="form-control"
                 id="createDate"
                 name="createDate"
                 [ngModel]="prService.purchaseReq.createDate | date: 'yyyy-MM-dd'"
                 (change)="onCreateDateChange($event)"
                 required
                 #createDate="ngModel"
                 [ngClass]="{input_danger: !createDate.valid && createDate.touched}"
                 [readonly]="controlState">
        </div>
      </div>

      <div class="col-md-3">
        <div class="t-mb">
          <label class="form-label">Purchase items</label>
          <ng-select [items]="classifications"
                     bindLabel="classificationName"
                     bindValue="classificationId"
                     id="classificationId"
                     name="classificationId"
                     [(ngModel)]="prService.purchaseReq.classificationId"
                     (change)="onClassificationChange()"
                     required
                     #classificationId="ngModel"
                     [ngClass]="{input_danger: !classificationId.valid && classificationId.touched}"
                     [readonly]="controlState">
          </ng-select>
        </div>
        <div class="t-mb">
          <label for="departmentId" class="form-label">Department</label>
          <ng-select [items]="departments"
                     bindLabel="name"
                     bindValue="id"
                     id="departmentId"
                     name="departmentId"
                     placeholder="-- select --"
                     [(ngModel)]="prService.purchaseReq.departmentId"
                     required
                     #departmentId="ngModel"
                     [ngClass]="{input_danger: !departmentId.valid && departmentId.touched}"
                     [readonly]="controlState">
          </ng-select>
        </div>
      </div>

      <div class="col-md-3">
        <div class="t-mb" *ngIf="action === operations.View">
          <label class="form-label">Approved by</label>
          <input type="text"
                 class="form-control"
                 [readonly]=true
                 [value]="prService.purchaseReq.approveUser?.fullName ?? 'pending'">
        </div>

        <div class="t-mb" *ngIf="action === operations.View">
          <label class="form-label">Approved on</label>
          <input type="text"
                 class="form-control"
                 [readonly]=true
                 [value]="(prService.purchaseReq.approveDate | date:'short') ?? 'pending'">
        </div>
      </div>
    </div>

    <div class="position-relative">
      <hr class="mt-5 mb-5">
      <div class="text-bg-secondary line-separate">Vendor's block</div>
    </div>

    <div class="row justify-content-between" style="width: 80%;">
      <div class="col-md-3">
        <div class="t-mb">
          <label class="form-label">Vendor</label>
          <ng-select [items]="vendors"
                     bindLabel="companyName"
                     bindValue="vendorId"
                     id="vendorId"
                     name="vendorId"
                     placeholder="-- select --"
                     [(ngModel)]="prService.purchaseReq.vendorId"
                     (change)="onVendorChange()"
                     required
                     #vendorId="ngModel"
                     [ngClass]="{input_danger: !vendorId.valid && vendorId.touched}"
                     [readonly]="controlState">
          </ng-select>
        </div>
        <div class="t-mb">
          <label class="form-label">Vendor contact</label>
          <ng-select [items]="vendorContacts"
                     bindLabel="name"
                     bindValue="contactId"
                     id="contactId"
                     name="contactId"
                     placeholder="-- select --"
                     [(ngModel)]="prService.purchaseReq.contactId"
                     required
                     #contactId="ngModel"
                     [ngClass]="{input_danger: !contactId.valid && contactId.touched}"
                     [readonly]="controlState">
          </ng-select>
        </div>
      </div>

      <div class="col-md-3">
        <div class="t-mb">
          <label for="payTermId" class="form-label">Payment term</label>
          <ng-select [items]="payTerms"
                     bindLabel="name"
                     bindValue="id"
                     id="payTermId"
                     name="payTermId"
                     placeholder="-- select --"
                     [(ngModel)]="prService.purchaseReq.payTermId"
                     required
                     #payTermId="ngModel"
                     [ngClass]="{input_danger: !payTermId.valid && payTermId.touched}"
                     [readonly]="controlState">
          </ng-select>
        </div>
        <div class="t-mb">
          <label for="shippingId" class="form-label">Shipper account #</label>
          <ng-select [items]="shippings"
                     bindLabel="nameWithAcc"
                     bindValue="id"
                     id="shippingId"
                     name="shippingId"
                     placeholder="-- select --"
                     [(ngModel)]="prService.purchaseReq.shippingId"
                     required
                     #shippingId="ngModel"
                     [ngClass]="{input_danger: !shippingId.valid && shippingId.touched}"
                     [readonly]="controlState">
          </ng-select>
        </div>
      </div>

      <div class="col-md-3">
        <div class="t-mb">
          <label for="deliveryDate" class="form-label">Expected arrival</label>
          <input type="date"
                 class="form-control"
                 id="deliveryDate"
                 name="deliveryDate"
                 [ngModel]="prService.purchaseReq.deliveryDate | date: 'yyyy-MM-dd'"
                 (change)="onDeliveryDateChange($event)"
                 required
                 #deliveryDate="ngModel"
                 [ngClass]="{input_danger: !deliveryDate.valid && deliveryDate.touched}"
                 [readonly]="controlState">
        </div>
        <div class="t-mb">
          <label for="shipToSiteId" class="form-label">Ship To</label>
          <ng-select [items]="sites"
                     bindLabel="siteName"
                     bindValue="siteId"
                     id="shipToSiteId"
                     name="shipToSiteId"
                     placeholder="-- select --"
                     [(ngModel)]="prService.purchaseReq.shipToSiteId"
                     required
                     #shipToSiteId="ngModel"
                     [ngClass]="{input_danger: !shipToSiteId.valid && shipToSiteId.touched}"
                     [readonly]="controlState">
          </ng-select>
        </div>
      </div>
    </div>

    <div *ngIf="isClassifiedAs(prService.purchaseReq.classificationId,
      prService.purchaseReq.vendorId,
      ItemType.Material)">
      <div class="position-relative">
        <hr class="mt-5 mb-5">
        <div class="text-bg-secondary line-separate">Purchase requisition items</div>
      </div>
      <app-items-materials [controlState]="controlState"
                           [action]="action">
      </app-items-materials>
    </div>

    <br *ngIf="action === operations.View">
    <div class="row justify-content-between mt-4 mb-2">
      <div class="col-md-7">
        <div class="d-flex align-items-center"
             style="padding: 0.7rem 0;">Additional info (optional)</div>
        <div class="border-bottom border-4"></div>
        <div class="py-3 d-flex flex-column" style="height: calc(100% - 35px)">
          <textarea class="form-control text-start"
                    placeholder="-- type comment here --"
                    name="notes"
                    [(ngModel)]="prService.purchaseReq.notes"
                    style="font-size: 1.4rem; height: 100%;"
                    [readonly]="controlState"></textarea>
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <ng-template #noAdd><div style="padding: 0.7rem 0;">Summary</div></ng-template>
          <div *ngIf="action !== operations.View; else noAdd" class="dropdown pr-add-charge text-end">
            <div class="d-inline-block"
                 data-bs-toggle="dropdown"
                 data-bs-auto-close="outside"
                 aria-expanded="false"
                 title="Add additional charge">
              <div class="btn-add-item m-0">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
                <span>Add</span>
              </div>
            </div>
            <ul class="dropdown-menu shadow w-100" #ocDd>
              <li>
                <div class="uom">
                  <div class="uom-header">
                    <div>Select additional charge</div>
                  </div>
                  <div class="uom-body">
                    <div class="mb-4 mt-2">
                      <label class="form-label">Additional charge</label>
                      <ng-select [items]="otherCharges"
                                 bindLabel="otherChargeName"
                                 bindValue="otherChargeId"
                                 id="otherChargeId"
                                 name="otherChargeId"
                                 placeholder="-- select --"
                                 ngModel
                                 #otherChargeId="ngModel">
                      </ng-select>
                    </div>
                    <div>
                      <label for="ocAmount" class="form-label">Amount</label>
                      <input type="number"
                             [min]="0"
                             class="form-control"
                             id="ocAmount"
                             name="ocAmount"
                             [ngModel]=null
                             [ngClass]="{input_danger: ocAmount.touched && ocAmount.value <= 0}"
                             #ocAmount="ngModel">
                    </div>
                  </div>
                  <div class="uom-footer">
                    <button class="btn btn-primary px-4"
                            type="button"
                            [disabled]="!otherChargeId.value || ocAmount.value <= 0"
                            (click)="onAddCharge(otherChargeId.value, ocAmount.value, ocDd)">Ok</button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="border-bottom border-4"></div>
          <div>
            <div *ngFor="let charge of prService.purchaseReq.purchaseReqCharges;">
              <div class="row justify-content-between py-3">
                <div class="col fw-bold">
                  {{charge.otherCharge.otherChargeName}}
                  <span *ngIf="action !== operations.View" class="btn-del ms-3" (click)="onRemoveCharge(charge)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                      <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                    </svg>
                  </span>
                </div>
                <div class="col-md-4 text-end">{{charge.amount.toFixed(2)}} <span style="font-size: 1.3rem;">USD</span></div>
              </div>
              <div class="border-bottom"></div>
            </div>
            <div class="row justify-content-between py-3">
              <div class="col fw-bold">Subtotal (Tax excluded):</div>
              <div class="col-md-4 text-end">
                {{(prService.getTotal() + prService.getAddChargesTotal()).toFixed(2)}}
                <span style="font-size: 1.3rem;">USD</span>
              </div>
            </div>
            <div class="border-bottom"></div>
            <div class="row justify-content-between py-3">
              <div class="col fw-bold">Plus Tax:</div>
              <div class="col-md-4 text-end">
                {{prService.getTotalTaxRate().toFixed(2)}}
                <span style="font-size: 1.3rem;">USD</span>
              </div>
            </div>
            <div class="border-bottom"></div>
            <div class="row justify-content-between py-3">
              <div class="col fw-bold">Total:</div>
              <div class="col-md-4 text-end">
                {{(prService.getTotal() + prService.getAddChargesTotal() + prService.getTotalTaxRate()).toFixed(2)}}
                <span style="font-size: 1.3rem;">USD</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="t-mb">
      <div class="d-inline-block" *ngIf="!prService.purchaseReq.isSubmitted">
        <button class="btn btn-primary me-2"
                type="submit"
                *appAuth="AuthPolicy.canUserEdit()"
                [disabled]="!f.valid && f.invalid || prService.purchaseReq.purchaseReqItems.length === 0">
          <span *ngIf="action === operations.Create || action === operations.Edit">Save</span>
          <span *ngIf="action === operations.View">Edit</span>
        </button>
      </div>
      <button class="btn btn-primary"
              type="button"
              (click)="router.navigate(['/purchase-requisitions'],
              {queryParamsHandling: 'preserve'})">
        Back
      </button>
    </div>
  </form>
</div>
<ng-container appModal></ng-container>
