<div *ngIf="isLoading" class="text-center">
  <app-loading-spinner></app-loading-spinner>
</div>
<div *ngIf="!isLoading">
  <div style="text-align: center; padding: 0.8rem"
       class="border-bottom">
    <div class="mb-0 fw-bold">Notification</div>
  </div>
  <div class="list-group"
       style=" border-radius: 0; max-height: 40rem; overflow: auto;">
    <div style="text-align: center; padding: 0.8rem"
         *ngIf="userNotifications.length === 0">
      Empty
    </div>
    <div *ngFor="let userNotification of userNotifications; let i = index;"
       class="list-group-item list-group-item-action p-4">
      <div *ngIf="userNotification.notification.notificationType === PushNotificationType.PrCreated"
           style="cursor: pointer;"
           (click)="OnRead(userNotification)">
        <div class="d-flex w-100 justify-content-between">
          <div class="mb-3 fw-bold">Purchase requisition {{userNotification.notification.prNumber}} was created.</div>
          <div>
            <small class="badge {{userNotification.isRead ? 'text-bg-success' : 'text-bg-danger'}}">
              {{userNotification.isRead ? 'read' : 'unread'}}
            </small>
          </div>
        </div>
        <p class="mb-3" style="max-height: 40px; overflow: hidden;"
           *ngIf="userNotification.notification.notes">
          <span class="fw-bold fs-5">user note:</span> {{userNotification.notification.notes}}
        </p>
        <div class="d-flex w-100 justify-content-between">
          <div>
            <small *ngIf="userNotification.notification.notes"
                   class="badge text-bg-secondary"
                   (click)="onViewNotes($event, userNotification.notification.notes)">
              view user notes
            </small>
          </div>
          <small>{{userNotification.notification.createDate | date:'short'}}</small>
        </div>
      </div>

      <div *ngIf="userNotification.notification.notificationType === PushNotificationType.PrUpdated"
           style="cursor: pointer;"
           (click)="OnRead(userNotification)">
        <div class="d-flex w-100 justify-content-between">
          <div class="mb-3 fw-bold">Purchase requisition {{userNotification.notification.prNumber}} was updated.</div>
          <div>
            <small class="badge {{userNotification.isRead ? 'text-bg-success' : 'text-bg-danger'}}">
              {{userNotification.isRead ? 'read' : 'unread'}}
            </small>
          </div>
        </div>
        <p class="mb-3" style="max-height: 40px; overflow: hidden;"
           *ngIf="userNotification.notification.notes">
          {{userNotification.notification.notes}}
        </p>
        <div class="d-flex w-100 justify-content-between">
          <div>
            <small *ngIf="userNotification.notification.notes"
                   class="badge text-bg-secondary"
                   (click)="onViewNotes($event, userNotification.notification.notes)">
              view user notes
            </small>
          </div>
          <small>{{userNotification.notification.createDate | date:'short'}}</small>
        </div>
      </div>

      <div *ngIf="userNotification.notification.notificationType === PushNotificationType.PoCreated"
           style="cursor: pointer;"
           (click)="OnRead(userNotification)">
        <div class="d-flex w-100 justify-content-between">
          <div class="mb-3 fw-bold">Purchase order {{userNotification.notification.poNumber}} was created.</div>
          <div>
            <small class="badge {{userNotification.isRead ? 'text-bg-success' : 'text-bg-danger'}}">
              {{userNotification.isRead ? 'read' : 'unread'}}
            </small>
          </div>
        </div>
        <p class="mb-3" style="max-height: 40px; overflow: hidden;"
           *ngIf="userNotification.notification.notes">
          {{userNotification.notification.notes}}
        </p>
        <div class="d-flex w-100 justify-content-between">
          <div>
            <small *ngIf="userNotification.notification.notes"
                   class="badge text-bg-secondary"
                   (click)="onViewNotes($event, userNotification.notification.notes)">
              view user notes
            </small>
          </div>
          <small>{{userNotification.notification.createDate | date:'short'}}</small>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-container appModal></ng-container>
