<div *ngIf="isLoading" class="text-center">
  <app-loading-spinner></app-loading-spinner>
</div>
<div *ngIf="!isLoading">
  <div style="text-align: center; padding: 0.8rem"
       class="border-bottom">
    <div class="mb-0 fw-bold">Notification</div>
  </div>
  <div class="list-group"
       style=" border-radius: 0; max-height: 40rem; overflow: auto;">
    <div style="text-align: center; padding: 0.8rem"
         *ngIf="userNotifications.length === 0">
      Empty
    </div>
    <div *ngFor="let userNotification of userNotifications; let i = index;"
       class="list-group-item list-group-item-action p-4">
      <notification-message *ngIf="userNotification.notification.notificationType === PushNotificationType.PrCreated"
                            [userNotification]="userNotification"
                            (click)="OnRead(userNotification)">
        <div>Purchase requisition {{userNotification.notification.prNumber}} was created.</div>
      </notification-message>

      <notification-message *ngIf="userNotification.notification.notificationType === PushNotificationType.PrUpdated"
                            [userNotification]="userNotification"
                            (click)="OnRead(userNotification)">
        <div>Purchase requisition {{userNotification.notification.prNumber}} was updated.</div>
      </notification-message>

      <notification-message *ngIf="userNotification.notification.notificationType === PushNotificationType.PrDisApproved"
                            [userNotification]="userNotification"
                            (click)="OnRead(userNotification)">
        <div>Purchase requisition {{userNotification.notification.prNumber}} was not approved.</div>
      </notification-message>

      <notification-message *ngIf="userNotification.notification.notificationType === PushNotificationType.PoCreated"
                            [userNotification]="userNotification"
                            (click)="OnRead(userNotification)">
        <div>Purchase order {{userNotification.notification.poNumber}} was created.</div>
      </notification-message>

      <notification-message *ngIf="userNotification.notification.notificationType === PushNotificationType.PoUpdated"
                            [userNotification]="userNotification"
                            (click)="OnRead(userNotification)">
        <div>Purchase order {{userNotification.notification.poNumber}} was updated.</div>
      </notification-message>

      <notification-message *ngIf="userNotification.notification.notificationType === PushNotificationType.PoDisApproved"
                            [userNotification]="userNotification"
                            (click)="OnRead(userNotification)">
        <div>Purchase order {{userNotification.notification.poNumber}} was not approved.</div>
      </notification-message>

      <notification-message *ngIf="userNotification.notification.notificationType === PushNotificationType.PoValueExceeded"
                            [userNotification]="userNotification"
                            (click)="OnRead(userNotification)">
        <div>Purchase order {{userNotification.notification.poNumber}} value was above the limit.</div>
      </notification-message>
    </div>
  </div>
</div>
