<div *ngIf="isLoading" class="text-center">
  <app-loading-spinner></app-loading-spinner>
</div>

<div class="trans-receiving-items" *ngIf="!isLoading">
  <div class="trans-items-container">
    <div class="trans-items table-responsive">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th style="width: 3rem;">#</th>
          <th style="width: 45rem;">Item</th>
          <th style="width: 10rem;">Quantity</th>
          <th style="width: 10rem;">UOM</th>
          <th style="width: 10rem;">Price per qty</th>
          <th style="width: 10rem;">Total price</th>
          <th style="width: 10rem;">Tax</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngIf="receivingItems.length > 0" class="fw-bold" style="line-height: 2;">
          <td colspan="2" style="padding: 0 3.5rem;">Total:</td>
          <td class="text-end" style="padding: 0 0.8rem;">{{rfsService.getTotalQty(receivingItems)}}</td>
          <td colspan="2" class="text-end" style="padding: 0 0.8rem;">
            {{rfsService.getTotalPricePerQty(receivingItems).toFixed(2)}}
          </td>
          <td class="text-end" style="padding: 0 0.8rem;">{{rfsService.getTotal(receivingItems).toFixed(2)}}</td>
          <td class="text-end" style="padding: 0 0.8rem;">
            {{rfsService.getTotalTaxRate(receivingItems, taxRates).toFixed(2)}}
          </td>
        </tr>

        <tr *ngFor="let item of receivingItems; let i = index;"
            [ngStyle]="{'border-bottom': ShowBatchesLots ? '0.25rem solid var(--bs-border-color)' : ''}">
          <td style="padding: 0.9rem;"
              [ngClass]="{'vertical-top': ShowBatchesLots}">
            {{i+1}}
          </td>
          <td class="text-start" [ngClass]="{'vertical-top': ShowBatchesLots}">
            <div class="row">
              <div class="w-100">
                <ng-select [items]="materials"
                           [ngClass]="{'border-bottom': ShowBatchesLots}"
                           bindLabel="catalogDescription"
                           bindValue="materialId"
                           name="materialId{{i+1}}"
                           [ngModel]="item.materialId"
                           [readonly]=true>
                </ng-select>
              </div>
            </div>
            <div class="row" *ngIf="ShowBatchesLots">
              <div class="w-100">
                <table class="w-100">
                  <thead>
                    <tr style="border-bottom: 1px solid var(--bs-border-color);">
                      <th>Lot / Batch #</th>
                      <th>Qty received</th>
                      <th>Qty status</th>
                      <th>Expiration</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let itemLb of item.recvdItemLotsBatches; let j = index"
                        [ngClass]="{'border-bottom': j !== item.recvdItemLotsBatches.length - 1}">
                      <td>
                        <input class="form-control"
                               [readonly]=true
                               [value]="itemLb.batchLot.batchLotNumber">
                      </td>
                      <td>
                        <input class="form-control"
                               [readonly]=true
                               [value]="itemLb.rlbQty">
                      </td>
                      <td>
                        <input class="form-control"
                               [readonly]=true
                               [value]="itemLb.isDamage ? 'Not Accepted' : 'Accepted'">
                      </td>
                      <td>
                        <input class="form-control"
                               [readonly]=true
                               [value]="itemLb.expireDate | date: 'MM-dd-yyyy'">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </td>
          <td [ngClass]="{'vertical-top': ShowBatchesLots}">
            <div [ngClass]="{'border-bottom': ShowBatchesLots}">
              <input type="text"
                     class="form-control text-end"
                     name="quantity{{i+1}}"
                     [value]="item.orderedQty"
                     [readonly]=true>
            </div>
          </td>
          <td [ngClass]="{'vertical-top': ShowBatchesLots}">
            <ng-select [items]="measurementUnits"
                       bindLabel="longUnit"
                       bindValue="unitId"
                       [ngClass]="{'border-bottom': ShowBatchesLots}"
                       name="unitId{{i+1}}"
                       [ngModel]="item.orderedUomId"
                       [readonly]=true>
            </ng-select>
          </td>
          <td [ngClass]="{'vertical-top': ShowBatchesLots}">
            <div [ngClass]="{'border-bottom': ShowBatchesLots}">
              <input type="number"
                     class="form-control text-end"
                     name="pricePerQty{{i+1}}"
                     [ngModel]="item.pricePerOrderedQty.toFixed(2)"
                     [readonly]=true>
            </div>
          </td>
          <td [ngClass]="{'vertical-top': ShowBatchesLots}">
            <div [ngClass]="{'border-bottom': ShowBatchesLots}">
              <input type="number"
                     class="form-control text-end"
                     [value]="(item.orderedQty * item.pricePerOrderedQty).toFixed(2)"
                     [readonly]=true>
            </div>
          </td>
          <td [ngClass]="{'vertical-top': ShowBatchesLots}">
            <ng-select [items]="taxRates"
                       bindLabel="nameTaxRate"
                       bindValue="taxId"
                       [ngClass]="{'border-bottom': ShowBatchesLots}"
                       name="taxId{{i+1}}"
                       [ngModel]="item.taxId"
                       [readonly]=true>
            </ng-select>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
