.cb {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;
  justify-content: flex-end;
}

.cb-item {
  cursor: pointer;
}

.cb-item .dropdown-menu {
  font-size: 1.3rem;
  transform: translate(0, 38px) !important;
  overflow: hidden;
}

.cb-inner {
  z-index: 999;
  min-width: 100px;
  list-style: none;
  padding: 0;
  position: absolute;
  right: 2rem;
  display: none;
  border: 1px solid rgba(0, 0, 0, 10%);
  border-radius: 4px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  background-color: #fff;
}

.cb-inner.show {
  display: block;
}

.cb-link,
.cb-inner-link {
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease-in-out;
}

.cb-link svg,
.cb-inner-link svg {
  color: var(--color-primary);
}

.cb-link:hover:not(.cb-divider),
.cb-inner-link:hover,
.cb-toggler:hover {
  background-color: rgba(0, 0, 0, 4%);
}

.cb-toggler {
  padding: 0.8rem 1.5rem;
}

@media screen and (min-width: 768px) {
  .cb-toggler {
    display: none;
  }

  .cb-inner {
    position: relative;
    right: 0;
  }

  .cb-inner,
  .cb-inner.show {
    display: flex;
    box-shadow: none;
    border: none;
  }
}
