<div class="row mt-4">
  <div class="col-md-4">
    <div *ngIf="isLoading" class="text-center">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <form (ngSubmit)="onSubmit()" #f="ngForm" *ngIf="!isLoading">
      <ng-content></ng-content>
      <div *ngIf="!f.valid && f.touched" class="alert alert-danger" role="alert">
        One or more inputs are incorrect
      </div>
      <div class="mb-4">
        <label for="description" class="form-label">Description</label>
        <input type="text"
               class="form-control"
               id="description"
               name="description"
               [(ngModel)]="matService.material.description"
               required
               maxlength="300"
               #description="ngModel"
               [ngClass]="{input_danger: !description.valid && description.touched}"
               [disabled]="controlState">
      </div>
      <div class="mb-4">
        <label for="catalogNumber" class="form-label">Catalog #</label>
        <input type="text"
               class="form-control"
               id="catalogNumber"
               name="catalogNumber"
               [(ngModel)]="matService.material.catalogNumber"
               required
               maxlength="50"
               #catalogNumber="ngModel"
               [ngClass]="{input_danger: !catalogNumber.valid && catalogNumber.touched}"
               [disabled]="controlState">
      </div>
      <div class="mb-4">
        <label for="uomId" class="form-label">Unit of measure</label>
        <ng-select [items]="measurementUnits"
                   bindLabel="longUnit"
                   bindValue="unitId"
                   id="uomId"
                   name="uomId"
                   [(ngModel)]="matService.material.uomId"
                   required
                   #uomId="ngModel"
                   [ngClass]="{input_danger: !uomId.valid && uomId.touched}"
                   [disabled]="controlState">
        </ng-select>
      </div>
      <div class="mb-4">
        <label for="classificationId" class="form-label">Classification</label>
        <ng-select [items]="classifications"
                   bindLabel="classificationName"
                   bindValue="classificationId"
                   id="classificationId"
                   name="classificationId"
                   [(ngModel)]="matService.material.classificationId"
                   required
                   #classificationId="ngModel"
                   [ngClass]="{input_danger: !classificationId.valid && classificationId.touched}"
                   [disabled]="controlState">
        </ng-select>
      </div>
      <div class="mb-4">
        <label for="categoryId" class="form-label">Category (optional)</label>
        <ng-select [items]="matlCategories"
                   bindLabel="categoryName"
                   bindValue="categoryId"
                   id="categoryId"
                   name="categoryId"
                   [(ngModel)]="matService.material.categoryId"
                   [disabled]="controlState">
        </ng-select>
      </div>
      <div class="mb-4">
        <label for="sizeId" class="form-label">Size Variant (optional)</label>
        <ng-select [items]="sizeVariants"
                   bindLabel="sizeDescription"
                   bindValue="sizeId"
                   id="sizeId"
                   name="sizeId"
                   [(ngModel)]="matService.material.sizeId"
                   [disabled]="controlState">
        </ng-select>
      </div>
      <div class="mb-4">
        <label for="refersTo" class="form-label">Refers to</label>
        <ng-select [items]="refersToList"
                   bindLabel="name"
                   bindValue="id"
                   id="refersTo"
                   name="refersTo"
                   [(ngModel)]="matService.material.refersTo"
                   required
                   #refersTo="ngModel"
                   [ngClass]="{input_danger: !refersTo.valid && refersTo.touched}"
                   [disabled]="controlState">
        </ng-select>
      </div>
      <div class="mb-4">
        <label for="vendorId" class="form-label">Vendor / Sponsor</label>
        <ng-select [items]="vendors"
                   bindLabel="companyName"
                   bindValue="vendorId"
                   id="vendorId"
                   name="vendorId"
                   [(ngModel)]="matService.material.vendorId"
                   required
                   #vendorId="ngModel"
                   [ngClass]="{input_danger: !vendorId.valid && vendorId.touched}"
                   [disabled]="controlState">
        </ng-select>
      </div>
      <div class="mb-4">
        <div class="form-check">
          <input type="checkbox"
                 class="form-check-input"
                 id="convertToUom"
                 name="convertToUom"
                 [(ngModel)]="matService.material.isUomConverted"
                 [disabled]="controlState">
          <label for="convertToUom">Do you buy / make this item in a different unit of measure?</label>
        </div>
        <div *ngIf="matService.material.isUomConverted">
          <div class="mb-4 mt-2">
            <label for="convertToUomId" class="form-label">Default purchase unit of measure</label>
            <ng-select [items]="measurementUnits"
                       bindLabel="longUnit"
                       bindValue="unitId"
                       id="convertToUomId"
                       name="convertToUomId"
                       [(ngModel)]="matService.material.convertToUomId"
                       [disabled]="controlState">
            </ng-select>
          </div>
          <div>
            <label for="conversionRate" class="form-label">Unit conversion rate</label>
            <div class="d-flex align-items-center outer-border p-1 px-3">
              <span class="me-3">1 {{convertedLongUnit ?? '?'}} = </span>
              <input type="number"
                     class="form-control w-25"
                     id="conversionRate"
                     name="conversionRate"
                     [(ngModel)]="matService.material.conversionRate"
                     [disabled]="controlState">
              <span class="ms-3">{{uomLongUnit ?? '?'}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-4 form-check" *ngIf="action !== operations.Create">
        <input type="checkbox"
               class="form-check-input"
               id="inActive"
               name="inActive"
               [(ngModel)]="matService.material.inActive"
               [disabled]="controlState">
        <label for="inActive">Inactive</label>
      </div>
      <div class="mb-4">
        <button class="btn btn-primary me-2"
                type="submit"
                *appAuth="AuthPolicy.canUserEdit(RolesConstant.Materials)"
                [disabled]="!f.valid && f.invalid">
          <span *ngIf="action === operations.Create || action === operations.Edit">Save</span>
          <span *ngIf="action === operations.View">Edit</span>
        </button>
        <button class="btn btn-primary"
                type="button"
                (click)="router.navigate(['/materials-management/materials'],
                {queryParamsHandling: 'preserve'})">
          Back
        </button>
      </div>
    </form>
  </div>
</div>
