<app-command-bar export="matl-classifications" (operations)="onOperate($event)"></app-command-bar>
<div class="data-table-container">
  <div class="data-table" tabindex="0">
    <table id="matl-classifications" mat-table [dataSource]="dataSource" matSort [matSortStart]="dataSource.pageOrder">
      <ng-container matColumnDef="ClassificationName">
        <th mat-header-cell *matHeaderCellDef [resizeColumn]="true">
        <span class="cell-data">
          <span mat-sort-header>Classification name</span>
          <span class="search-container">
            <app-column-search column="ClassificationName"
                               [value]="dataSource.search.value"
                               (search)="dataSource.onSearch($event)"
                               highlightOnSearch>
            </app-column-search>
          </span>
        </span>
        </th>
        <td mat-cell *matCellDef="let row">
          <span>{{row["classificationName"]}}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="ClassifiedAs">
        <th mat-header-cell *matHeaderCellDef [resizeColumn]="true">
        <span class="cell-data">
          <span mat-sort-header>Classified as</span>
          <span class="search-container">
            <app-column-search column="ClassifiedAs"
                               [value]="dataSource.search.value"
                               (search)="dataSource.onSearch($event)"
                               highlightOnSearch>
            </app-column-search>
          </span>
        </span>
        </th>
        <td mat-cell *matCellDef="let row">
          <span>{{classifiedAs(row["classifiedAs"])}}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="CreateDate">
        <th mat-header-cell *matHeaderCellDef [resizeColumn]="true">
        <span class="cell-data">
          <span mat-sort-header>Date created</span>
          <span class="search-container">
            <app-column-search column="CreateDate"
                               [value]="dataSource.search.value"
                               (search)="dataSource.onSearch($event)"
                               type="date"
                               highlightOnSearch>
            </app-column-search>
          </span>
        </span>
        </th>
        <td mat-cell *matCellDef="let row">
          <span>{{row["createDate"] | date:'short'}}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="CreatedBy">
        <th mat-header-cell *matHeaderCellDef [resizeColumn]="true">
        <span class="cell-data">
          <span mat-sort-header>Created by</span>
          <span class="search-container">
            <app-column-search column="CreatedBy"
                               [value]="dataSource.search.value"
                               (search)="dataSource.onSearch($event)"
                               highlightOnSearch>
            </app-column-search>
          </span>
        </span>
        </th>
        <td mat-cell *matCellDef="let row">
          <span>{{row["createUser"]["cuFirstName"] + ' ' + row["createUser"]["cuLastName"]}}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="LastUpdate">
        <th mat-header-cell *matHeaderCellDef [resizeColumn]="true">
        <span class="cell-data">
          <span mat-sort-header>last update</span>
          <span class="search-container">
            <app-column-search column="LastUpdate"
                               [value]="dataSource.search.value"
                               (search)="dataSource.onSearch($event)" type="date"
                               highlightOnSearch>
            </app-column-search>
          </span>
        </span>
        </th>
        <td mat-cell *matCellDef="let row">
          <span>{{row["lastUpdate"] | date:'short'}}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="UpdatedBy">
        <th mat-header-cell *matHeaderCellDef [resizeColumn]="true">
        <span class="cell-data">
          <span mat-sort-header>Updated by</span>
          <span class="search-container">
            <app-column-search column="UpdatedBy"
                               [value]="dataSource.search.value"
                               (search)="dataSource.onSearch($event)"
                               highlightOnSearch>
            </app-column-search>
          </span>
        </span>
        </th>
        <td mat-cell *matCellDef="let row">
          <span>{{row["lastUser"]["luFirstName"] + ' ' + row["lastUser"]["luLastName"]}}</span>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row
          *matRowDef="let row; columns: displayedColumns"
          (click)="dataSource.onRowSelect(row)"
          [ngClass]="{highlighted: dataSource.selection.isSelected(row), inactive: row['inActive']}">
      </tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell datatable-no-data"
            [colSpan]="displayedColumns.length"
            *ngIf="!(dataSource.isLoading | async)">No data available in table
        </td>
      </tr>
    </table>
    <div *ngIf="dataSource.isLoading | async" class="spinner-container-wrapper">
      <div class="spinner-container">
        <app-loading-spinner></app-loading-spinner>
      </div>
    </div>
  </div>
</div>
<mat-paginator [pageSizeOptions]="[15, 30, 50, 100]"
               [pageIndex]="dataSource.pageIndex"
               showFirstLastButtons>
</mat-paginator>
<ng-container appModal></ng-container>
