<div *ngIf="isLoading" class="text-center">
  <app-loading-spinner></app-loading-spinner>
</div>
<div class="trans-items-container" *ngIf="!isLoading">
  <div class="trans-items table-responsive">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th style="width: 3rem;">#</th>
        <th style="width: 45rem;">Item</th>
        <th style="width: 10rem;">Quantity</th>
        <th style="width: 10rem;">UOM</th>
        <th style="width: 10rem;">Price per qty</th>
        <th style="width: 10rem;">Total price</th>
        <th style="width: 3rem;">Task</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="asrService.receiving.receivingItems.length > 0" class="fw-bold" style="line-height: 2;">
        <td colspan="2" style="padding: 0 3.5rem;">Total:</td>
        <td class="text-end" style="padding: 0 0.8rem;">{{asrService.getTotalQty()}}</td>
        <td colspan="2" class="text-end" style="padding: 0 0.8rem;">{{asrService.getTotalPricePerQty().toFixed(2)}}</td>
        <td class="text-end" style="padding: 0 0.8rem;">{{asrService.getTotal().toFixed(2)}}</td>
        <td></td>
      </tr>

      <tr *ngFor="let item of asrService.receiving.receivingItems; let i = index;">
        <td style="padding: 0 0.8rem;">{{i+1}}</td>
        <td class="text-start">
          <ng-select [items]="materials"
                     bindLabel="catalogDescription"
                     bindValue="id"
                     #fpMaterialId
                     name="materialId{{i+1}}"
                     placeholder="-- select --"
                     [(ngModel)]="item.materialId"
                     (change)="onMaterialChange(item)"
                     appendTo="body"
                     (open)="FixNgSelectPlacement.onOpen(fpMaterialId)"
                     required
                     #materialId="ngModel"
                     [ngClass]="{input_danger: !materialId.valid && materialId.touched}">
          </ng-select>
        </td>
        <td>
          <input type="number"
                 [min]="0"
                 class="form-control text-end"
                 name="orderedQty{{i+1}}"
                 [(ngModel)]="item.orderedQty"
                 (click)="$any($event.target).select()"
                 required
                 #orderedQty="ngModel"
                 [ngClass]="{input_danger: !orderedQty.valid && orderedQty.touched}">
        </td>
        <td>
          <div class="dropdown">
            <div class="dropdown-toggle"
                 data-bs-toggle="dropdown"
                 data-bs-auto-close="outside"
                 aria-expanded="false"
                 data-bs-popper-config='{"strategy":"fixed"}'>
              <input type="text"
                     class="form-control"
                     [value]="purchaseUomLu(item.orderedUomId ?? 0) ?? '?'"
                     required
                     [ngClass]="{input_danger: !orderedUomId.valid || !orderedConversionRate.valid}"
                     readonly
                     style="cursor: pointer; padding-right: 20px !important;"
                     [readonly]="true">
            </div>
            <ul class="dropdown-menu shadow" #uomDd>
              <li>
                <div class="uom">
                  <div class="uom-header">
                    <div>Buy this in a different unit</div>
                  </div>
                  <div class="uom-body">
                    <div class="mb-4 mt-2">
                      <label class="form-label">Purchase unit of measure</label>
                      <ng-select [items]="measurementUnits"
                                 bindLabel="longUnit"
                                 bindValue="unitId"
                                 #fpOrderedUomId
                                 class="fix-placement"
                                 name="orderedUomId{{i+1}}"
                                 placeholder="-- select --"
                                 [(ngModel)]="item.orderedUomId"
                                 appendTo="body"
                                 (open)="FixNgSelectPlacement.onOpen(fpOrderedUomId)"
                                 required
                                 #orderedUomId="ngModel"
                                 [ngClass]="{input_danger: !orderedUomId.valid && orderedUomId.touched}">
                      </ng-select>
                    </div>
                    <div>
                      <label class="form-label">Unit conversion rate</label>
                      <div class="d-flex align-items-center p-1 px-3">
                        <span class="me-3">1 {{purchaseUomLu(item.orderedUomId ?? 0) ?? '?'}} = </span>
                        <input type="number"
                               [min]="1"
                               class="form-control w-50"
                               name="conversionRate{{i+1}}"
                               [(ngModel)]="item.orderedConversionRate"
                               required
                               #orderedConversionRate="ngModel"
                               [ngClass]="{input_danger: !orderedConversionRate.valid}">
                        <span class="ms-3">{{baseUomLu(item.materialId) ?? '?'}}</span>
                      </div>
                    </div>
                  </div>
                  <div class="uom-footer">
                    <button class="btn btn-primary px-4"
                            type="button"
                            (click)="uomDd.classList.remove('show')">Ok</button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </td>
        <td>
          <input type="number"
                 [min]="0"
                 class="form-control text-end"
                 name="pricePerOrderedQty{{i+1}}"
                 [(ngModel)]="item.pricePerOrderedQty"
                 (click)="$any($event.target).select()"
                 required
                 #pricePerOrderedQty="ngModel"
                 [ngClass]="{input_danger: !pricePerOrderedQty.valid && pricePerOrderedQty.touched}">
        </td>
        <td>
          <input type="number"
                 [min]="0"
                 class="form-control text-end"
                 readonly
                 [value]="(item.orderedQty * item.pricePerOrderedQty).toFixed(2)"
                 [readOnly]=true>
        </td>
        <td class="text-center">
          <span class="btn-del" (click)="onRemoveItem(i)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
              <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
            </svg>
          </span>
        </td>
      </tr>

      <tr *ngIf="asrService.receiving.receivingItems.length === 0" style="line-height: 2.5;">
        <td class="text-center"
            [colSpan]="13">
          No data available in table
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="btn-add-item" (click)="onAddItem()">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
      <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
    </svg>
    <span>Add row</span>
  </div>
</div>
