<div>
  <div class="btn-group mx-5" role="group">
    <a routerLink="tax-rates"
       routerLinkActive="sub-nav-link-active"
       class="sub-nav-link">
      Tax rates
    </a>
    <a routerLink="vendor-contacts"
       routerLinkActive="sub-nav-link-active"
       class="sub-nav-link">
      Vendor contacts
    </a>
    <a routerLink="states"
       routerLinkActive="sub-nav-link-active"
       class="sub-nav-link">
      States
    </a>
    <a routerLink="countries"
       routerLinkActive="sub-nav-link-active"
       class="sub-nav-link">
      Countries
    </a>
  </div>
  <div class="sub-nav-link-border"></div>
</div>
<router-outlet></router-outlet>
