<div>
  <div class="btn-group mx-5" role="group">
    <a routerLink="tax-rates"
       routerLinkActive="sub-nav-link-active"
       class="sub-nav-link">
      Tax rates
    </a>
    <a routerLink="departments"
       routerLinkActive="sub-nav-link-active"
       class="sub-nav-link">
      Departments
    </a>
    <a routerLink="shippings"
       routerLinkActive="sub-nav-link-active"
       class="sub-nav-link">
      Shippings
    </a>
    <a routerLink="sites"
       routerLinkActive="sub-nav-link-active"
       class="sub-nav-link">
      Sites
    </a>
  </div>
  <div class="sub-nav-link-border"></div>
</div>
<router-outlet></router-outlet>
