<div *ngIf="isLoading" class="text-center">
  <app-loading-spinner></app-loading-spinner>
</div>

<div class="trans" *ngIf="!isLoading">
  <div class="row t-mb justify-content-between pb-2 border-bottom border-4">
    <div class="col-md-4 align-self-end">
      <div class="fw-bold fs-4">
        User
        <span class="fw-normal">
          {{action === operations.View ? '(read only)' : ''}}
          {{action === operations.Edit ? '(edit)' : ''}}
      </span>
      </div>
    </div>
  </div>
  <form (ngSubmit)="onSubmit()" #f="ngForm" *ngIf="!isLoading">
    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
      {{errorMessage}}
    </div>
    <div *ngIf="!f.valid && f.touched" class="alert alert-danger" role="alert">
      One or more inputs are incorrect
    </div>
    <div class="row justify-content-between" style="width: 80%;">
      <div class="col-md-3">
        <div class="t-mb">
          <label for="firstName" class="form-label">First name</label>
          <input type="text"
                 class="form-control"
                 id="firstName"
                 name="firstName"
                 [(ngModel)]="userService.user.firstName"
                 required
                 #firstName="ngModel"
                 [ngClass]="{input_danger: !firstName.valid && firstName.touched}"
                 [disabled]="controlState">
        </div>
        <div class="t-mb">
          <label for="phoneNumber" class="form-label">Phone #</label>
          <input type="text"
                 class="form-control"
                 id="phoneNumber"
                 name="phoneNumber"
                 [(ngModel)]="userService.user.phoneNumber"
                 required
                 #phoneNumber="ngModel"
                 [ngClass]="{input_danger: !phoneNumber.valid && phoneNumber.touched}"
                 [disabled]="controlState">
        </div>
      </div>
      <div class="col-md-3">
        <div class="t-mb">
          <label for="lastName" class="form-label">Last name</label>
          <input type="text"
                 class="form-control"
                 id="lastName"
                 name="lastName"
                 [(ngModel)]="userService.user.lastName"
                 required
                 #lastName="ngModel"
                 [ngClass]="{input_danger: !lastName.valid && lastName.touched}"
                 [disabled]="controlState">
        </div>
        <div class="t-mb">
          <label for="jobTitle" class="form-label">Job title</label>
          <input type="text"
                 class="form-control"
                 id="jobTitle"
                 name="jobTitle"
                 [(ngModel)]="userService.user.jobTitle"
                 required
                 #jobTitle="ngModel"
                 [ngClass]="{input_danger: !jobTitle.valid && jobTitle.touched}"
                 [disabled]="controlState">
        </div>
      </div>
      <div class="col-md-3">
        <div class="t-mb">
          <label for="email" class="form-label">Email</label>
          <input type="text"
                 class="form-control"
                 id="email"
                 name="email"
                 [ngModel]="userService.user.email"
                 required
                 #email="ngModel"
                 [ngClass]="{input_danger: !email.valid && email.touched}"
                 [disabled]="true">
        </div>
      </div>
    </div>

    <div class="position-relative">
      <hr class="mt-5 mb-5">
      <div class="text-bg-secondary line-separate">User's access rights</div>
    </div>

    <div class="row justify-content-between my-5" style="width: 80%;">
      <div class="fw-semibold mb-3">Administrative</div>
      <div class="col-md-3" *ngFor="let item of administrativeList; let i = index">
        <div class="t-mb">
          <div class="form-check">
            <input class="form-check-input"
                   type="checkbox"
                   id="adSelected{{i}}"
                   name="adSelected{{i}}"
                   [(ngModel)]="item.selected"
                   [disabled]="controlState">
            <label class="form-check-label" for="adSelected{{i}}">
              {{item.text}}
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-between my-5" style="width: 80%;">
      <div class="fw-semibold mb-3">Operations</div>
      <div class="col-md-3" *ngFor="let item of operationalList; let i = index;">
        <div class="t-mb">
          <div class="form-check">
            <input class="form-check-input"
                   type="checkbox"
                   id="opSelected{{i}}"
                   name="opSelected{{i}}"
                   [(ngModel)]="item.selected"
                   [disabled]="controlState">
            <label class="form-check-label" for="opSelected{{i}}">
              {{displayText(item.text)}}
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-between my-5" style="width: 80%;">
      <div class="fw-semibold mb-3">Entities</div>
      <div>
        <table class="table">
          <tr style="font-size: 1.3rem;">
            <th class="py-2 border text-center">Entity</th>
            <th class="py-2 border text-center">Create</th>
            <th class="py-2 border text-center">Read</th>
            <th class="py-2 border text-center">Update</th>
            <th class="py-2 border text-center">Delete</th>
          </tr>
          <tr *ngFor="let userRole of entityList; let i = index">
            <td class="py-2 px-3 border">
              {{userRole.text}}
            </td>
            <td class="py-2 border text-center">
              <input class="form-check-input"
                     type="checkbox"
                     name="create{{i}}"
                     [(ngModel)]="userRole.create"
                     [disabled]="controlState">
            </td>
            <td class="py-2 border text-center">
              <input class="form-check-input"
                     type="checkbox"
                     name="read{{i}}"
                     [(ngModel)]="userRole.read"
                     [disabled]="controlState">
            </td>
            <td class="py-2 border text-center">
              <input class="form-check-input"
                     type="checkbox"
                     name="update{{i}}"
                     [(ngModel)]="userRole.update"
                     [disabled]="controlState">
            </td>
            <td class="py-2 border text-center">
              <input class="form-check-input"
                     type="checkbox"
                     name="delete{{i}}"
                     [(ngModel)]="userRole.delete"
                     [disabled]="controlState">
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="mb-4">
      <button class="btn btn-primary me-2"
              type="submit"
              *appAuth="authPolicy.canUserEdit(RolesConstant.Admin)"
              [disabled]="!f.valid && f.invalid">
        <span *ngIf="action === operations.Create || action === operations.Edit">Save</span>
        <span *ngIf="action === operations.View">Edit</span>
      </button>
      <button class="btn btn-primary"
              type="button"
              (click)="router.navigate(['/users'], {queryParamsHandling: 'preserve'})">
        Back
      </button>
    </div>
  </form>
</div>
