table {
  width: 100%;
  border-collapse: collapse;
}

td, th {
  border: 1px solid var(--bs-border-color);
}

td table td {
  border: none;
  border-bottom: 1px solid var(--bs-border-color);
  border-right: 1px solid var(--bs-border-color);
}

td table tr:last-child td {
  border-bottom: 0;
}

td table td:last-child {
  border-right: 0;
}
